/* common Styles  */
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #050505, #505251);
  /* display: flex;
  flex-direction: column; */
  font-family: calculus LCD;
  width: 100%;
  list-style: none;
  text-decoration: none;
}
html{
  font-size: 62.5%;
  color: white;
}
.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
/************* End of Common Styles  ***********************/

/******************* hrading  ****************/
.heart{
  position: absolute;
  animation: heart 0.5s 0s infinite;
}
@keyframes heart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

.heading {
  width: 100%;  
  background:linear-gradient(to right,black,grey);
  height: 10rem;
  color: #f8f5ef;
  /* font-size: 5rem; */
  /* word-spacing: .5; */
}
.static{
  font-size: 4rem;
}
/******************* End of heading  ****************/

/*********************** Calculator **********************/
.calculator {
  width: 100%;
  height: 90rem;
}

/* cal container  */

.cal {
  background: linear-gradient(to right,#7f7880, #1c1b1b);
  width: 75%;
  height: 90%;
  position: absolute;
  /* bottom: 8%; */
  border-radius: 1rem;
   /* bottom rigth blur intensity*/
  box-shadow: .4rem .6rem white;
}

/* Display  */

.cal-display {
  overflow: auto;
  background-color: black;
  color: white;
  border-radius: 1rem 1rem 0px 0px;
  height: 12rem;
  /* width: 75%; */
  padding: 0.1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cal-display h1 {
  font-size: 3rem;
  padding: .5rem;
  overflow: auto;
  
}
/* Buttons  */

.cal-button {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;
  padding: .5rem;
}
.cal-button button {
  font-size: 1.8rem;
  font-weight: bold;
  border: .3rem solid black;
  border-radius: 1rem;
}
.cal-button .operand:hover {
  background-color: rgb(158, 154, 154);
  font-weight: bold;
}
#equal-to {
  grid-column: -2;
  grid-row: 1/8;
  font-weight: bolder;
  font-size: 5rem;
  color: white;
  background:linear-gradient(to top,rgb(39, 34, 34),rgb(177, 176, 176)) ;
}
#clear_ {
  grid-column: -2;
  grid-row: 8/10;
  background-color: rgb(230, 28, 28);
}
#decimal {
  grid-row: 5;
}
#equal-to:hover {
  background: rgb(135, 224, 142);
}

#clear_:hover {
  background: rgb(235, 98, 98);
}
.operator {
  background-color: #f7e27a;
}
.operator:hover {
  background-color: #97800a;
}
button:hover {
  cursor: pointer;
  background-color: rgb(170, 168, 165);
}
button:active {
  transform: translateY(.4rem); /* to make button dipped when pressed*/
}
.uoperator {
  background-color: #f0d030;
}
.uoperator:hover {
  background-color: #97800a;
}


/***********************End of Calculator **********************/

/***************** End of Game  ***********************/
.game {
  background: url(bg1.jpg) center  no-repeat;
  padding: 10rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
  width: 100%;
}
.gameHeading {
  font-size: 5rem;
  font-family: serif;
  color: transparent;
  text-align: center;
  animation: effect 2s linear infinite;
  animation: colorAnimation 0.5s linear infinite;
}
@keyframes colorAnimation {
  0% {
    background: linear-gradient(#8b0d0d, #cc3146);
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(#b3e662, #64b805);
    -webkit-background-clip: text;
  }
}
.pig {
  border: .3rem solid rgb(245, 63, 163);
  background: linear-gradient(to right, #580b3a, #f03eac);
}
.box {
  /* position: relative; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  padding: 5rem;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 2px;
  text-align: center;
}
.game-link{
  font-size: 2.5rem;
}
.guess {
  border: .2rem solid rgb(247, 243, 20);
  background: linear-gradient(to right, #ba8b02, #181818);
}
.guess a {
  color: #eedf08;
}
.pig a {
  color: #18e747;
}


/************* End of game  ******************************/

/**************************contact***********************/
.contact {
  font-size: 4rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /* border: .2rem solid wheat; */
  align-items: center;
  justify-content: center;
  height: 60vh;
}
/*************************End of contact***********************/

/* CopyRight  */
.right {
  color: white;
  font-size:3rem;
}
/*****************End of CopyRight*******************/


/* RESPONSIVE MAKING Media-Querry  */

@media screen and (max-width: 900px) {

  .cal-display{
    height: 10rem;
   }
 .cal{
  /* width: 90%; */
  height: 83%;
 }
 .calculator{
   height: 85rem;
 }
 .cal-button button {
  font-size: 1.6rem;
}
.contact {
  font-size:3rem;
}
.cal{
  width: 85%;
}

}
@media screen and (max-width: 650px) {

 
  .contact {
    font-size:2.5rem;
  }
  .right{
    font-size: 2rem;
  }
  .static{
    font-size: 2.5rem;
  }
  .cal-button button {
    font-size: 1.4rem;
  }
  .cal{
    width: 95%;
    height: 75%;
   }
}
@media screen and (max-width: 500px) {

  .contact {
    font-size:1.8rem;
  }
  .right{
    font-size: 1.5rem;
  }
  .static{
    font-size: 2.5rem;
  }
  .cal{
    width: 95%;
    height: 72%;
   }
   .calculator{
     height: 70rem;
   }
   #equal-to {
    font-size: 3rem;
  }
  .cal-button button {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .cal-display h1 {
    font-size: 2.5rem;
    padding: .3rem;
    
  }
  .gameHeading {
    font-size: 3rem;
  }
  .game-link{
    font-size: 2rem;
  }
}
@media screen and (max-width: 380px) {
  .cal-display{
    height: 6rem;
   }
  .contact {
    font-size:1.5rem;
  }
  .right{
    font-size: 1.2rem;
  }
  .static{
    font-size: 1.5rem;
  }
  .cal{
    width: 98%;
    height: 50%;
   }
   .calculator{
     height: 50rem;
   }
   #equal-to {
    font-size: 2rem;
  }
  .cal-button button {
    font-size: .75em;
    font-weight: bold;
  }
  .cal-display h1 {
    font-size: 2rem;
    padding: .3rem;
    
  }
  .box{
    width: 20rem;
    height: 20rem;
  }
  .gameHeading {
    font-size: 2.5rem;
  }

}
@media screen and (max-width: 250px) {

  .contact {
    font-size:1rem;
  }
  .right{
    font-size: 1rem;
  }
  .static{
    font-size: 1.2rem;
  }
  .cal{
    width: 100%;
    height: 50%;
    bottom: 52%;
   }
  .cal-display{
    height: 6rem;
   }
   .calculator{
     height: 45rem;
   }
   #equal-to {
    font-size: 1.5rem;
  }
  .cal-button button {
    font-size: .6rem;
    font-weight: bold;
  }
  .cal-display h1 {
    font-size: 1.5rem;
    padding: .2rem;
    
  }
  .box{
    width: 15rem;
    height: 15rem;
  }
  .game-link{
    font-size: 1.5rem;
  }

}
