/* common Styles  */
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #050505, #505251);
  /* display: flex;
  flex-direction: column; */
  font-family: calculus LCD;
  width: 100%;
  list-style: none;
  text-decoration: none;
}
html{
  font-size: 62.5%;
  color: white;
}
.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
/************* End of Common Styles  ***********************/

/******************* hrading  ****************/
.heart{
  position: absolute;
  animation: heart 0.5s 0s infinite;
}
@keyframes heart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

.heading {
  width: 100%;  
  background:linear-gradient(to right,black,grey);
  height: 10rem;
  color: #f8f5ef;
  /* font-size: 5rem; */
  /* word-spacing: .5; */
}
.static{
  font-size: 4rem;
}
/******************* End of heading  ****************/

/*********************** Calculator **********************/
.calculator {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* width: 100vw; */
  margin: 0px;
  /* overflow: scroll; */
}

/* cal container  */

.cal {
  background: linear-gradient(to right, #c94b4b, #4b134f);
  max-width: 50vh;
  /* height: 100vh; */
  border-radius: 10px;
  
  box-shadow: 12px 12px 21px -3px; /* bottom rigth blur intensity*/
  padding: 10px;
  /* overflow-y: auto; */
  /* position: relative; */
  /* top: 30px; */
}

/* Display  */

.cal-display {
  background-color: black;
  color: white;
  border-radius: 15px 15px 0px 0px;
  padding: 0.1px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* overflow-y: hidden; */
  /* overflow-wrap: normal; */
}
.cal-display h1 {
  /* margin: 0%; */
  margin: 0px;
  padding: 20px;
  overflow-x: scroll;
  
}
/* Buttons  */

.cal-button {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
}
.cal-button button {
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
}
.cal-button .operand:hover {
  background-color: rgb(158, 154, 154);
  font-weight: bold;
}
#equal-to {
  grid-column: -2;
  grid-row: 1/8;
  background-color: rgb(86, 201, 95);
}
#clear_ {
  grid-column: -2;
  grid-row: 8/10;
  background-color: rgb(230, 28, 28);
}
#decimal {
  grid-row: 5;
}
#equal-to:hover {
  background-color: rgb(135, 224, 142);
}

#clear_:hover {
  background-color: rgb(235, 98, 98);
}
.operator {
  background-color: #f7e27a;
}
.operator:hover {
  background-color: #97800a;
}
button:hover {
  cursor: pointer;
  background-color: rgb(170, 168, 165);
}
button:active {
  transform: translateY(1px); /* to make button dipped when pressed*/
}
.uoperator {
  background-color: #f0d030;
}
.uoperator:hover {
  background-color: #97800a;
}


/***********************End of Calculator **********************/

/***************** End of Game  ***********************/
.game {
  background: url(bg1.jpg) center  no-repeat;
  padding: 10rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
  width: 100%;
}
.gameHeading {
  font-size: 5rem;
  font-family: serif;
  color: transparent;
  text-align: center;
  animation: effect 2s linear infinite;
  animation: colorAnimation 0.5s linear infinite;
}
@keyframes colorAnimation {
  0% {
    background: linear-gradient(#8b0d0d, #cc3146);
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(#b3e662, #64b805);
    -webkit-background-clip: text;
  }
}
.pig {
  border: .3rem solid rgb(245, 63, 163);
  background: linear-gradient(to right, #580b3a, #f03eac);
}
.box {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  padding: 5rem;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 2px;
  text-align: center;
}
.game-link{
  font-size: 2.5rem;
}
.guess {
  border: .2rem solid rgb(247, 243, 20);
  background: linear-gradient(to right, #ba8b02, #181818);
}
.guess a {
  color: #eedf08;
}
.pig a {
  color: #18e747;
}


/************* End of game  ******************************/

/**************************contact***********************/
.contact {
  font-size: 4rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /* border: .2rem solid wheat; */
  align-items: center;
  justify-content: center;
  height: 60vh;
}
/*************************End of contact***********************/

/* CopyRight  */
.right {
  color: white;
  font-size: ;
}
/*****************End of CopyRight*******************/


/* RESPONSIVE MAKING Media-Querry  */

@media screen and (max-width: 600px) {
  .heading h2 {
    font-size: 1rem;
  }
  .heading span {
    font-size: 1rem;
  }
  .calculator {
    /* display: inline-block; */
    /* align-items: flex-start; */
    /* float: left; */
    /* width: 50%; */
    /* height: 90%; */
    flex-direction: column;
    height:180vh;
  }
  .calculator .cal {
    /* display: inline-block; */
    /* align-items: flex-start; */
    /* float: left; */
    /* width: 90vw;  */
    /* height: 60%; */
    /* margin-left: 30px; */
  }
  .calculator button {
    /* display: inline-block; */
    /* align-items: flex-start; */
    /* float: left; */
    /* width: 50%; */
    padding: 0px;
    margin: 1px;
    font-size: smaller;
  }
  .game {
    /* width: 90%; */
  }
  .contact {
    /* width: 90%;  */
  }
  .right {
    /* width: 90%;   */
  }
  a {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  .wrapper .dynamic {
    color: #18e747;
    /* line-height: 90px; */
    height: 20px;
    /* background: #580b3a; */
    overflow: hidden;
  }
  @keyframes slide {
    100% {
      top: -37px;
      margin: 0 -100px 0 px;
    }
  }
  #image1 {
    width: 50px;
    position: absolute;
    right: 210px;
    top: 36px;
    margin: 0px 10px;
    animation: heart 0.5s 0s infinite;
  }
  .gameHeading {
    font-size: 2em;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 2s linear infinite;
    animation: colorAnimation 0.5s linear infinite;
  }
}
